<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif;">
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%%;
        max-width: 450px; margin: 30px auto; border: 1px solid #e5e5e5;
        background-color: white;">
    <tr>
        <td style="padding: 32px 24px;">
            <!-- Invite Message -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%%"
                   style="margin-bottom: 40px;">
                <tr>
                    <td style="
                            font-size: 20px;
                            color: #37352f;
                            line-height: 1.6;
                        ">
                        <span style="font-weight: 700;">%s</span>님이 나를
                        <span style="font-weight: 700; text-decoration: underline;">
                            %s</span> 팀스페이스에 초대했습니다.
                    </td>
                </tr>
            </table>

            <!-- Button -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%%"
                   style="margin-bottom: 40px;">
                <tr>
                    <td>
                        <a href="https://colla.so/invite?code=%s"
                           style="
                                    display: block;
                                    padding: 12px 24px;
                                    background-color: #3383FF;
                                    color: white;
                                    text-decoration: none;
                                    border-radius: 6px;
                                    font-weight: 500;
                                    text-align: center;
                                ">
                            워크스페이스 참여하기
                        </a>
                    </td>
                </tr>
            </table>

            <!-- Workspace Info -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%%"
                   style="margin-bottom: 40px;">
                <tr>
                    <td style="width: 48px; vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                %s
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding-left: 12px;">
                        <div style="
                                font-weight: 500;
                                color: #37352f;
                                margin-bottom: 4px;
                            ">%s</div>
                        <div style="
                                font-size: 14px;
                                color: #6b6b6b;
                            ">멤버 %d명</div>
                    </td>
                </tr>
            </table>

            <!-- Divider -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%%"
                   style="margin-bottom: 32px;">
                <tr>
                    <td style="border-bottom: 1px solid #e5e5e5;"></td>
                </tr>
            </table>

            <!-- Logo and Description -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%%"
                   style="margin-bottom: 32px;">
                <tr>
                    <td width="40" style="vertical-align: top;">
                        <img src="https://cdn.colla.so/users/16/b50626ad-7f52-4b67-83c8-af4fee223e2d_logo.png" alt="Logo" style="width: 40px; height: 40px;
                                margin-top: 4px;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 6px; padding-top: 12px;">
                        <div style="color: #6b6b6b; font-size: 14px; line-height: 1.5;">
                            <a href="https://colla.so" style="color: #6b6b6b;
                                    text-decoration: underline;">Colla.so</a>, 팀프로젝트를<br/>
                            하나로 끝내는 대학생을 위한 협업 플랫폼
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 6px; padding-top: 24px;">
                        <div style="color: #6b6b6b; font-size: 14px; line-height: 1.5;">
                            이 초대메일은 72시간 후에 만료됩니다.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
